#active-resend-confirm-code :hover {
    cursor: pointer !important;
}

#wrapper {
    text-align: center;
    border: 1px solid #7F7F7F;
    width: 150px;
    margin: 25px auto;
    padding: 25px;
    background-color: #E3E4E4;
}

#myTimer {
    font: 64px Tahoma bold;
    padding: 20px;
    display: block;
}

button {
    width: 125px;
    padding: 10px;
}

.btnEnable {
    background-color: #E6F9D2;
    border: 1px solid #97DE4C;
    color: #232323;
    cursor: pointer;
}

.btnDisable {
    background-color: #FCBABA;
    border: 1px solid #DD3939;
    color: #232323;
    cursor: wait;
}

#container {
    display: flex !important;
    margin: 2rem -2rem;
}

#active-resend-confirm-code:hover {
    color: #666666;
    cursor: pointer;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}


.inp-password, .inp-confirm-code , .inp-phone-number{
    border: 1px solid #dcdcdc;
    border-radius: 9px;
}
 