@{ Layout = null;}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>خطای دسترسی</title>
    <link rel="stylesheet" href="~/css/pages.css">
    <link rel="icon" type="image/png" href="~/images/icons/favi.png" />
</head>

<body>
    <div class="main">
        <p><img src="~/images/403.jpg" /></p>
        <h2>خطای دسترسی </h2>
        <h3>متاسفانه شما به این صفحه دسترسی ندارید</h3>
        <span><a href="index.htlm" class="btn-back">بارگشت به صفحه اصلی</a></span>
    </div>
</body>
</html>
