@model RahyabIdentity.Controllers.Account.ChangePasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>تغییر کلمه عبور</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self'">

    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->

    <style>
        #active-resend-confirm-code :hover {
            cursor: pointer !important;
        }

        #wrapper {
            text-align: center;
            border: 1px solid #7F7F7F;
            width: 150px;
            margin: 25px auto;
            padding: 25px;
            background-color: #E3E4E4;
        }

        #myTimer {
            font: 64px Tahoma bold;
            padding: 20px;
            display: block;
        }

        button {
            width: 125px;
            padding: 10px;
        }

        .btnEnable {
            background-color: #E6F9D2;
            border: 1px solid #97DE4C;
            color: #232323;
            cursor: pointer;
        }

        .btnDisable {
            background-color: #FCBABA;
            border: 1px solid #DD3939;
            color: #232323;
            cursor: wait;
        }

        #container {
            display: flex !important;
            margin: 2rem -2rem;
        }

        #active-resend-confirm-code:hover {
            color: #666666;
            cursor: pointer;
        }

        #footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <partial name="_ValidationSummary" />

                <img src="~/images/logo.svg" class="logo" />
                <br />
                <h3 class="text-center p-b-53">
                  کلمه عبور جدید و کد دریافتی را وارد کنید
                </h3>
                <br />
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ReturnUrl" class="form-control" type="hidden" />
                    <input asp-for="UserId" class="form-control" type="hidden" />
                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                           کلمه عبور جدید
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input  class="input100" autofocus required="" style="border: 1px solid #dcdcdc; border-radius: 9px;" type="password" asp-for="NewPassword">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                            کد تایید
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" autofocus required="" style="border: 1px solid #dcdcdc; border-radius: 9px;" type="text" asp-for="Code">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button type="submit" class="login100-form-btn" name="button">
                            تغییر کلمه عبور
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/bootstrap/js/popper.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function() {
            $(".login100-form-title").css("margin-bottom", "1rem");
            $(".login100-form-title").css("font-size", "2.5rem");
        });
    </script>
</body>
</html>
