@model RahyabIdentity.Controllers.Account.LoggedOutViewModel
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>خروج از حساب کاربری</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self'">
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->

    <style>
        #active-resend-confirm-code :hover {
            cursor: pointer !important;
        }

        #wrapper {
            text-align: center;
            border: 1px solid #7F7F7F;
            width: 150px;
            margin: 25px auto;
            padding: 25px;
            background-color: #E3E4E4;
        }

        #myTimer {
            font: 64px Tahoma bold;
            padding: 20px;
            display: block;
        }

        button {
            width: 125px;
            padding: 10px;
        }

        .btnEnable {
            background-color: #E6F9D2;
            border: 1px solid #97DE4C;
            color: #232323;
            cursor: pointer;
        }

        .btnDisable {
            background-color: #FCBABA;
            border: 1px solid #DD3939;
            color: #232323;
            cursor: wait;
        }

        #container {
            display: flex !important;
            margin: 2rem -2rem;
        }

        #active-resend-confirm-code:hover {
            color: #666666;
            cursor: pointer;
        }

        #footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33" style="padding-top: 40px">

                <div class="page-header logged-out">
                    <h3 class="text-center">
                        جهت بازگشت به
                        <a href="https://localhost:44385/home/index" id="link-to-way2Market"  class="text-success">راه بازار</a>
                        کلیک کنید
                    </h3>
                 
                    @if (Model.PostLogoutRedirectUri != null)
                    {
                        <div>
                            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                            <span>@Model.ClientName</span> application.
                        </div>
                    }

                    @if (Model.SignOutIframeUrl != null)
                    {
                        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                    }
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/bootstrap/js/popper.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#link-to-way2Market").css("font-size", "27px");
        });
    </script>
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
</body>
</html>
